@charset "utf-8";

/* svg
------------------------------------------------------ */

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-rule: evenodd;
}

.cls-1 {
  stroke-width: 17.89px;
}

.cls-2 {
  stroke-width: 19.81px;
}

.cls-3 {
  stroke-width: 22.38px;
}

.cls-4 {
  stroke-width: 21.1px;
}

.cls-5 {
  stroke-width: 12.76px;
}

.cls-6 {
  stroke-width: 19.8px;
}